.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 3rem 3rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

.crown-image {
  align-items:center;
  width: 125px;  
  height: auto;
  margin: -1rem 0rem -1rem 0rem;
}

.login h1 {
    font-size: 2.5rem;
    margin: 0rem 0rem 1rem 0rem;
    color: #333;
    text-align: center;
}

.input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    color: #777;
    font-size: 1.5rem;
}

.input-container input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.input-container input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
}


.error-message {
    color: red;
    font-size: 0.875rem;
    text-align: left;
}

.btn2 {
  width: 100%;
  padding: 12px;
  background: #552583;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn2:hover {
  background-color: #FDB927;
}

.login-links {
    margin-top: 0.25rem;
    text-align: center;
}

.link2 {
  display: block;
  color: #552583;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: color 0.3s;
}

.link2:hover {
  color: #FDB927;
}
