.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: centera;
  background-color: #f9f9f9;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1.75rem 2.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.signup h1 {
  font-size: 2.5rem;
  margin-top: -10px;
  color: #333;
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0.25rem 0;
  width: 100%;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  color: #777;
  font-size: 1.5rem;
}

.input-container input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.input-container input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #ffffff;
}

.password-requirements ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.password-requirements li {
  margin-bottom: 0.5rem;
  color: red; /* Default to red if password requirement is not met */
  transition: color 0.3s ease;
}

.password-requirements li:last-child {
  margin-bottom: 0;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  text-align: left;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.login-links {
  margin-top: 1rem;
  text-align: center;
}

.link {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 0.5rem;
  transition: color 0.3s;
}

.link:hover {
  color: #0056b3;
}
