.submit {
  border: 2px solid #24a0ed; /* Light Blue */
  background-color: #24a0ed;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 15px;
  transition-duration: 0.4s;
}
.submit:hover {
  border: 2px solid #0000ff;
  background-color: #0000ff;
  color: white;
}
.cancel {
  border-radius: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 20px;
  padding: 15px 15px;
  transition-duration: 0.4s;
}
.cancel:hover {
  background-color: #ff0000;
  color: black;
}

.inputName {
  font-size: 18px;
  float: left;
  margin-left: 20px;
}

.inputField {
  type: text;
  border-weight: 5px;
  width: 80%;
  padding: 8px 14px;
  margin: 8px 0;
  font-size: 18px;
}
.birthdayField{
  type: text;
  border-weight: 5px;
  width: 10%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 5px;
}
.yearField{
  type: text;
  border-weight: 5px;
  width: 13%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 5px;
}
.slash {
  font-size: 18px;
  font-weight: bold;
}
.requirements {
  type: text;
  color: red;
  font-size: 18px;
}
.deleteImage {
  border-radius: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 20px;
  padding: 15px 15px;
  transition-duration: 0.4s;
}
.deleteImage:hover {
  background-color: #ffc107;
  color: black;
}
