 .card {
    width: 336px;
    height: 540px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(0,0,0,0.2);
    text-align: center;
    background-color: #ffffff;
    margin: auto;
 }
.image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    margin-top: 20px;
  }
.name {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.info {
    font-size: 20px;
    color: #555555;
    margin: 20px 0;
  }
.group {
    margin-top: 50px;
    padding: 10px 20px;
  }
.buttons {
    padding: 40px 20px;
}