.card {
  min-width: 336px;
  width: 100%;
  height: 113%;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ffffff;
  margin: auto;
}
.image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.body {
  margin-top: 20px;
}
.name {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}
.info {
  font-size: 20px;
  color: #555555;
  margin: 20px 0;
}
.group {
  border: 2px solid #04aa6d; /* Green */
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}
.group:hover {
  background-color: #04aa6d;
  color: white;
}
.pin {
  border: 2px solid #04aa6d; /* Green */
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}
.pin:hover {
  background-color: #04aa6d;
  color: white;
}
.unpin {
  border: 2px solid #ff0000; /* Green */
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}
.unpin:hover {
  background-color: #ff0000;
  color: white;
}
.edit {
  border: 2px solid #0000ff; /* Blue */
  border-radius: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  padding: 15px 15px;
  transition-duration: 0.4s;
}
.edit:hover {
  background-color: #0000ff;
  color: white;
}
.deleteButton {
  /* delete is a reserved keyword */
  border: 2px solid #ff0000; /* Red */
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  padding: 15px 15px;
  transition-duration: 0.4s;
}
.deleteButton:hover {
  background-color: #ff0000;
  color: white;
}
