.card {
    background-color: #dedede;
    width: 745px;
    height: 200px;
    margin: 25px;
    display: flex;
    align-items: center;
}

.name {
    font-size: 48px;
    color: black;
}

.image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 30px;
    object-fit: cover;
}
