.SearchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.SearchIcon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: #ffffff;
}

.SearchBar {
    height: 100%;
    width: 100%;
    float: right;
    border-radius: 0px;
    border: 0px;
    background-color: #acacac;
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    text-indent: 50px;
    outline: none;
    outline-width: 0px;
}
.SearchBar::placeholder {
    color: #ffffff;
}
